@use '../../styles/abstracts/mixins' as *;

.header {
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: space-between;
  align-items: center;
  column-gap: 5rem;
  font-size: 1.4rem;

  padding: 2rem 2rem;

  @include mq(lg) {
    grid-template-columns: min-content min-content 1fr;
    padding-inline: 5rem;
  }
}

.buttonGroup {
  display: none;

  @include mq(lg) {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 4rem;
    justify-self: end;
  }
}

.headerNav {
  display: none;

  @include mq(lg) {
    display: block;
  }
}
