@use '../../../styles/abstracts/mixins' as *;

.nav {
  display: grid;
  font-size: 1.5rem;
}

.items {
  display: grid;
  row-gap: 2rem;
}

.horizontal {
  grid-template-columns: repeat(4, auto);
  column-gap: 3.5rem;
}
