:root {
  // ## Layout
  --ly-mobile: 37.5rem;
  --ly-desktop: 144rem;
  
  // ## Colors
  // ### Neutral
  --clr-neutral-almost-white: hsl(0, 0%, 98%);
  --clr-neutral-medium-grey: hsl(0, 0%, 41%);
  --clr-neutral-almost-black: hsl(0, 0%, 8%);
  
  // ## Typography
  // ### Body
  --fs-body: 1.8rem;
  
  // ### Font
  --ff-epilogue: 'Epilogue', sans-serif;
  
  // ### Font weight
  --fw-500: 500;
  --fw-700: 700;
  
}