.navItem {
  position: relative;
}

.linkBox {
  display: grid;
  grid-template-columns: min-content max-content;
  column-gap: 0.5rem;
}

.iconBox {
  display: grid;
  align-content: center;
  transition: transform 0.2s ease;
}

.active {
  transform: rotate(180deg);
}

.link {
  color: var(--clr-neutral-medium-grey);
  transition: color 0.2s ease;

  &:hover {
    color: var(--clr-neutral-almost-black);
  }
}

.color {
  color: var(--clr-neutral-almost-black);
}
