@use '../styles/abstracts/mixins' as *;

.sidebar {
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 3rem;

  background-color: var(--clr-neutral-almost-white);
  padding: 2rem;

  @include mq(lg) {
    display: none;
  }
}

.header {
  display: grid;
  justify-content: end;
}

.iconWrapper {
  cursor: pointer;
}

.right {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  z-index: 100;

  @include mq(sm) {
    width: 50vw;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--clr-neutral-dropdown-shadow);

  z-index: 50;

  @include mq(md) {
    display: none;
  }
}
