@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  width: 100%;
  min-height: 100vh;
}

ul, ol {
  list-style:none;
}

input, button, textarea, select {
  font: inherit;
}

img, picture {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}