@use '../styles/abstracts/mixins' as *;

.home {
  display: grid;
  grid-template-rows: min-content 1fr;

  width: 100%;
  min-height: 100vh;

  @include mq(sm) {
    background-color: var(--clr-neutral-almost-white);
  }
}

.main {
  display: grid;
}

.hero {
  display: grid;
  row-gap: 4rem;
  grid-template-rows: 1fr 1fr;

  @include mq(lg) {
    grid-template-columns: auto auto;
    grid-template-rows: none;
    row-gap: 0px;
    padding-inline: 10rem;
    align-content: center;
    justify-content: space-between;
  }
}

.heroImg {
  position: relative;
  height: 40vh;

  @include mq(sm) {
  }

  @include mq(lg) {
    grid-column: 2 / -1;
    width: 40vw;
    height: 100%;
  }
}

.heroBody {
  padding-inline: 1.5rem;

  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 2rem;

  grid-template-rows: repeat(3, min-content) 1fr;

  @include mq(sm) {
  }

  @include mq(lg) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-inline: 0;
    height: min-content;
    justify-items: start;
    width: 40vw;
    height: 100%;
    row-gap: 5rem;
  }
}

.text,
.title {
  text-align: center;
}

.title {
  line-height: 1;

  @include mq(lg) {
    display: grid;
    font-size: 8rem;
    text-align: start;
  }
}

.text {
  max-width: 39ch;
  font-size: 1.5rem;
  color: var(--clr-neutral-medium-grey);

  @include mq(sm) {
    text-align: start;
  }
}

.list {
  display: grid;
  grid-auto-flow: column;
  column-gap: 2rem;
  width: 100%;

  @include mq(lg) {
    align-self: end;

    & > li {
      max-width: 100px;
    }
  }
}

.list li {
  display: block;
}
