@use '../../styles/abstracts/mixins' as *;

.nav {
  display: none;
  @include mq(sm) {
    display: block;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 1.5rem;
}